.aewee_block {
  display: block;

  h3 {
    position: relative;
    font-size: 15pt;
    font-weight: 400;
    margin-bottom: 7px;
  }

  h3::after {
    content: '';
    border: $hr;
    width: 420px;
    position: absolute;
    left: 200px;
    top: 12px;
  }

  ul {
    margin-left: 30px;
    margin-bottom: 7px;
    font-family: $main-text;
    color: $color-gray;

    li {
      font-size: 12pt;
    }
  }
}

@media only screen and (max-width: $mobile-screen) {
  .aewee_block {
    h3::after {
      width: 45%;
    }
  }
}
