.alert {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
  opacity: 0.9;
  font-size: 17px;
  animation-name: hide;
  animation-duration: 6s;
  animation-delay: 1.5s;

  h4 {
    display: inline;
  }

  p {
    display: inline;
  }
}

@keyframes hide {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0.1;
  }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
