.central_block {
  display: block;
  margin-left: 30px;
  width: 640px;
}

.head_text {
  font-size: 33pt;
  margin-top: 30px;
  margin-bottom: 24px;
}

.prof_text {
  font-size: 16pt;
  margin-bottom: 20px;
  font-weight: 400;
}

.mainBlock_hr {
  border: $hr;
  margin-bottom: 15px;
  margin-right: 20px;
}

.aboutMe {
  font-size: 12pt;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: justify;
  width: 620px;
}

.projectExample {
  .header_pe {
    position: relative;
    font-size: 15pt;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .header_pe::after {
    content: '';
    border: $hr;
    width: 420px;
    position: absolute;
    left: 200px;
    top: 12px;
  }

  .project_wrapper {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: $mobile-screen) {
  .central_block {
    width: 100%;
    margin: 0;
    padding-right: 20px;
    padding-left: 20px;
  }

  .head_text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1px;
    left: 5px;
    color: #fff;
  }

  .prof_text {
    margin-top: 20px;
  }

  .aboutMe {
    width: 100%;
  }

  .mainBlock_hr {
    margin-right: 0;
  }

  .projectExample {
    .header_pe::after {
      width: 45%;
    }
  }
}
