.side_bar {
  background-color: $color-brown;
  width: 350px;
  color: #fff;
}

.side_bar {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 33px;
}

.avatar_img {
  display: block;
  margin: 0 auto;
  width: 210px;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-bottom: 30px;
}

.side_block {
  margin-bottom: 29px;
}

.block_main_text {
  font-size: 17pt;
  font-family: $main-text;
  margin-bottom: 12px;
}

.side_block_info,
.skill_items {
  font-size: 12pt;
  font-family: $main-text;
  margin-bottom: 8px;
}

.profil {
  margin-left: 45px;
  position: relative;
  line-height: 35px;
}

.profil::before {
  display: block;
  position: absolute;
  transform: scale(0.5);
  left: -63px;
  top: -20px;
}

.github::before {
  content: url(../images/GitHub-Mark-64px.png);
}

.skype::before {
  content: url(../images/linkidin.png);
}

.facebook::before {
  content: url(../images/facebook.png);
}
